
  
  <div class="aboutContainer">
    <div>
      <div class="autoWaTxt">
        <p>
          We Work For You Not <br>The Insurance Companies
        </p>
    </div>
  
  <div class="aboutText">
            A 100% subsidiary of India’s fastest growing bank, Kotak Mahindra Bank Ltd., Kotak General Insurance was established to service the growing non-life insurance segment in India. At Kotak Mahindra General Insurance, we value customer service, quality, and innovation above everything else.
            Servicing the continuously growing non-life insurance sector, Kotak General Insurance is focused on bringing you quality products coupled with great customer service.
      <br>
  </div>
  </div>
  </div>