<div class="homeContainer">
    <div style="margin-left: 90px;margin-top:70px;">
<div class="autoWaTxtHome parentImg"> 
   <div  >
      Save Up to <span class="yellow">30%</span> On <br>
      Your Car Insurance<br>
      In Minutes.
   </div>

    <div  class="column">  
        <img alt="My image name" src="assets/img/Insurance_Car.jpg">
    </div>
</div>
<br>
<div class="parentText"  style="margin-top:-100px;margin-left: 0px;">
    <div class="column">
        <div class="lowestCarPremiums">
            <span class="yellowSmall">
                Save up to 80% </span><br>
                    <span class="blackSmall">Lowest Car Premiums</span>
           
        </div>
    </div>
    <div class="column">
        <div class="lowestCarPremiums">
            <span class="yellowSmall">
                Save up to 80% </span><br>
                    <span class="blackSmall">Lowest Car Premiums</span>
        </div>
    </div>
    <div class="column">  
        <div class="lowestCarPremiums">
            <span class="yellowSmall">
                Save up to 80% </span><br>
                    <span class="blackSmall">Lowest Car Premiums</span>
        </div>
    </div>
</div>
<br>
<div class="bottomText">
    *TP Price for less than 1000 CC cars. All savings are provided by insurers as per Gov. approved insurance plan. Standard T&C apply.
</div>
</div>
</div>


               
       
      

