
<div class="userContainer">
    <div class="QuoteBg">
      <div class="autoWaTxt QuoteInner">
        <p>
         List of User
        </p>
    </div>
    
    <!-- No data message -->
    <p *ngIf="User.length <= 0" class="no-data text-center">There is no employee added yet!</p>
    <!-- Users list -->
    <table class="table table-bordered;"  *ngIf="User.length > 0">
      <thead class="table-success">
        <tr >
          <!-- <th scope="col"> ID</th> -->
          <th scope="col" style="background-color:#FF5733" >First Name</th>
          <th scope="col" style="background-color:#FF5733" >Last Name</th>
          <th scope="col" style="background-color:#FF5733" >User Name</th>
          <th scope="col" style="background-color:#FF5733" >Email</th>
          <th scope="col" style="background-color:#FF5733" >Admin</th>
          <th scope="col" style="background-color:#FF5733" ></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of User; let i = index">
          <!-- <th scope="row">{{user._id}}</th> -->
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.isAdmin}}</td>
          <td class="text-center">

            <span class="delete" (click)="removeUser(user, i)">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

</div>
</div>