<div class="ContactUsContainer">

  <div style="margin-left: 22%">
    <div class="parentText">
    <div class="column ContactUs">
        <div style="font-size:20px;">
            AUTOWA.
        </div>
        <br>
        <div class="contactUsText">
          If you’re looking for information or assistance, simply call us, write to us or step into your nearest branch. At Kotak General Insurance, it’s all about you – the customer! 
        </div>
        
    </div>
    <div class="column ContactUsServices">
        <div>
          SERVICES
        </div>
        
        <br>
        <div>
          Help Center
        </div>
        <br>
        <div>
          Press
        </div>
        <br>
        <div>
          About Us
        </div>
    </div>
    <div class="column ContactUs">  
        <div>
           GET IN TOUCH
        </div>
        <br>
        <div>
          A 24, Wallstreet, NY 200001
        </div>
        <br>
        <div>
          E: info@domain.com
        </div>
        <br>
        <div>
          P: +1 2345 67890
        </div>
        
    </div>
  
</div>
<div style="position:relative;top:112px">
    <hr class="newLine">
    <div class="parentText">
      <div class="column contactUsText" style="margin-left: 20px;">
        @2020 Copyright Autowa. All rights Reserved.
      </div>

      <table  class="contactUsText" style="position: absolute; right: 230px;">
        <tr>
          <td style="padding:10px">
            f
          </td>
          <td style="padding:10px">
            Twitter
          </td>
          <td style="padding:10px">
            facebook
          </td>
          <td style="padding:10px">
            Instagram
          </td>
        </tr>
      </table>
      </div>
  </div>  
</div>

</div>
  
  
  
                 
         
        
  
  